:root {
    --primary-color: #1d4ed8;
    --secondary-color: #9333ea;
    --background-color: #f9fafb;
    --text-color: #1f2937;
  
    --dark-primary-color: #1e40af;
    --dark-secondary-color: #7e22ce;
    --dark-background-color: #111827;
    --dark-text-color: #f3f4f6;
  }